body {
  margin: 0;
  padding: 2em;
  height: 100%;
  background-image: linear-gradient( rgb(36, 36, 36), rgb(196, 196, 196));
}

/* MAIN APP */
#mainTopSection {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}

#app h1 {
  font-size: 2em;
  color: white;
}

/* WEATHER COMPONENT */
#weatherContainer {
  width: 45em;
  padding: 2em;
  background: rgb(244, 251, 255);
  border-radius: 20px;
  box-shadow: 1px 4px 10px #6e6f70;
  display: flex;
  flex-direction: column;
  margin-right: 3em;
}

#weatherTop {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 1em;
}

#weatherDate {
  font-size: 2em;
  font-weight: bold;
}

#weatherDetails {
  display: flex;
  justify-content: space-evenly;
}

#weatherDesc h3 {
  font-size: 1.8em;
}

#weatherDesc h5 {
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.603);
}

#weatherTemps {
  display: flex;
  justify-content: space-between;
}

#weatherMainTemp {
  font-size: 2em;
  margin-top: 1.5em;
}

#weatherMinMax {
  display: flex;
  margin-left: 2em;
}

.weatherMinMaxClass {
  height: 6em;
  margin: 0.5em;
  font-size: 1.2em;
}

#weatherMin {
  padding-right: 1em;
  border-right: 1px solid gray;
}


#restTitle h2 {
  color: #DF9B3A,
}

/* NASA COMPONENT */
#nasaImage {
  width: 15%;
  background: rgb(204, 233, 247);
  border-radius: 20px;
  box-shadow: 1px 4px 10px #6e6f70;
}

