/* OPEN WEATHER COMPONENT */

#weatherContainer {
  width: 45em;
  padding: 2em;
  background: rgb(204, 233, 247);
  border-radius: 20px;
  box-shadow: 1px 4px 10px #babbbb;
  display: flex;
  flex-direction: column;
}

#weatherTop {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 1em;
}

#weatherDate {
  font-size: 2em;
  font-weight: bold;
}

#weatherDetails {
  display: flex;
  justify-content: space-evenly;
}

#weatherDesc h3 {
  font-size: 1.8em;
}
#weatherDesc h5 {
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.603);
}

#weatherTemps {
  display: flex;
  justify-content: space-between;
}

#weatherMainTemp {
  font-size: 2em;
  margin-top: 1.5em;
}

#weatherMinMax {
  display: flex;
  margin-left: 2em;
}

.weatherMinMaxClass {
  height: 6em;
  margin: 0.5em;
  font-size: 1.2em;
}

#weatherMin {
  padding-right: 1em;
  border-right: 1px solid gray;
}
